[GdmGreeterTheme]
Greeter=aperture-login.xml
Name=aperture-login
Description=Aperture Laboratories GDM Theme
Author=Dave Kimber
Copyright=GPL
Screenshot=aperture-login-screenie.png
